*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px
}

.images{
  width:300px;
  height:300px;
}

#container-box {
  padding: 10px;
  background-color: var(--primary);
  color: rgb(255, 239, 220);
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

:root{
  --primary: #dc2626;
  --light-blue: #2998ff;
  --light-orange:#ffb10b;
  --orange: #e54218;
  --peach: #fc5546;
  --dark-blue: #0f3270;
  --ivory-white: #f3f1f7;
  --h1: 7rem;
  --h2: 5rem;
  --h3: 4rem;
  --h4: 3rem;
  --h5: 1.5rem;
}

.awesome{
    background-color: var(--primary);
}

.main{
  background-color: var(--secondary);
  height: 90vh;
}

.warm{
  --primary: var(--orange);
  --secondary: var(--light-orange);
  --third: var(--peach)
}
.cool{
  --primary: var(--light-blue);
  --secondary:var(--dark-blue);
  --third: var(--ivory-white);
}
body{
  background-color: var(--primary);
}
h1{
  font-size: var(--h1);
}
h1,h2,h3,h4{
  text-align: center;
}
.itemCards{
  margin:10px;
  padding: 10px;
  width: 32%; 
  height: 400px;
  background-color: var(--secondary);
  border:2px solid black;
}

.button{
  width: 51px;
  height: 25px;
}